<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OKR Web App</title>
    <meta name="description" content="OKR Web App for Vintage Software">
    <meta name="author" content="Cameron Hutchison, Dylan Geile, Brandon Johnston, Chris Dunning, and Ryan Everett">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app" ng-controller="MainCtrl as main">
	<label>Name: </label><span>{{main.company.name}}</span>
	<br />
	<div ng-repeat="dept in main.company.departments">
		<div><b>{{dept.name}}</b></div>
		<ul ng-repeat="emp in dept.employees">
			<li>{{emp.lastName}}, {{emp.firstName}}</li>
		</ul>
	</div>
	
	<input type="text" ng-model="main.companyId" />
	<button ng-click="main.getCompany()">Press Me</button>
	
	<input type="text" ng-model="main.companyId" />
	<button ng-click="main.getCompanyObjectives()">Objectives</button>
	
	<div ng-repeat="obj in main.companyObjectives">
		<div>
			<h4>{{obj.title}}</h4>
			<p>{{obj.description}}</p>
		</div>
	</div>
	
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
	<script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="app/app.module.js"></script>
	<script src="app/services/apiService.js"></script>
	<script src="app/components/MainCtrl.js"></script>
</body>
</html>