<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OKR Web App</title>
    <meta name="description" content="OKR Web App for Vintage Software">
    <meta name="author" content="Cameron Hutchison, Dylan Geile, Brandon Johnston, Chris Dunning, and Ryan Everett">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app" ng-controller="MainCtrl as main">
	<label>Name: </label><span>{{main.company.name}}</span>
	<br />
	
	
	<input type="text" ng-model="main.companyId" />
	<input type="text" ng-model="main.objectiveId" />
	
	</br>Test calls by Company Id:
	<button ng-click="main.getCompany()">Departments and Employees</button>
	<button ng-click="main.getCompanyObjectivesById()">Objectives</button>
	<button ng-click="main.getDepartmentObjectivesById()">Dept Objectives</button>
	<button ng-click="main.getDepartments()">Departments</button></br>
	<button ng-click="main.getAssignments()">All Assignments</button></br>
	
	
	
	<!-- THIS WORKS. Removing it for safety.
	<button ng-click="main.deleteCompanyById()">Delete Company by Id</button></br>
	-->
	<button ng-click="main.deleteCompanyObjectivesById()">Delete OBJ by CoId/objId</button></br>
	
	
	</br><strong>Departments and Employees:</strong></br>
	<div ng-repeat="dept in main.company.departments">
		<div><b>{{dept.name}}</b></div>
		<ul ng-repeat="emp in dept.employees">
			<li>{{emp.lastName}}, {{emp.firstName}}</li>
		</ul>
	</div>
	
	</br><strong>Company Objectives:</strong></br>
	<div ng-repeat="obj in main.companyObjectives">
		<div>
			<h4>Title: {{obj.title}}</h4>
			<p>Description: {{obj.description}}</p>
			<p>ID: {{obj.id}}</p>
			</br>
		</div>
	</div>
	
	</br><strong>Department Objectives:</strong></br>
	<div ng-repeat="obj in main.departmentObjectives">
		<div>
			<h4>{{obj.title}}</h4>
			<p>{{obj.description}}</p>
		</div>
	</div>
	
	</br><strong>Departments:</strong></br>
	<div ng-repeat="dept in main.departments">
		<div>
			<h4>{{dept.name}}</h4>
			<p>{{dept.employees}}</p>
		</div>
	</div>
	
	</br><strong>All Assignments:</strong></br>
	<div ng-repeat="assignment in main.assignments">
		<div>
			<h4>ID: {{assignment.id}}</h4>
			<h4>CompanyId: {{assignment.companyId}}</h4>
			<h4>DeptObjectiveId: {{assignment.departmentObjectiveId}}</h4>
			<h4>employeeId: {{assignment.employeeId}}</h4>
			<h4>month: {{assignment.month}}</h4>
		</div>
	</div>
	
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
	<script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="app/app.module.js"></script>
	<script src="app/services/apiService.js"></script>
	<script src="app/components/MainCtrl.js"></script>
</body>
</html>