<div layout="column" layout-align="top center" layout-fill="layout-fill" class="md-padding">
  <div layout="column" class="content-page md-whiteframe-z2">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>{{ vm.company.name }} Company Objectives</span>
        </h2>
        <span flex></span>
        <md-button class="md-button" aria-label="Department View" ng-click="vm.createNewObjective()">
          <i class="fa fa-fw fa-file-text-o"></i>New Objective
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <div ng-repeat="obj in vm.companyObjectives">
        <div layout="column" class="objective-box md-whiteframe-z1">
          <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
              <h2><span>{{obj.id}} | {{obj.title}}</span></h2>
              <span flex></span>
              <span>{{obj.percentage * 100}}% Complete</span>
            </div>
          </md-toolbar>
          <div class="progress-container">
            <md-progress-linear md-mode="determinate" value="{{ obj.percentage * 100}}"></md-progress-linear>
            <!--<md-tooltip md-direction="bottom">
              {{obj.percentage * 100}}% Complete
            </md-tooltip>-->
          </div>
          <md-content layout="column" class="md-padding">
            <p><em>{{obj.description}}</em></p>
            <ul>
              <li ng-repeat="objectiveAssociation in obj.objectiveAssociations">
                <span>{{ objectiveAssociation.departmentObjective.title }} - {{ objectiveAssociation.departmentObjective.percentage *100}}% Complete</span>
                <span style="float:right"><a href="#/companies/{{ vm.company.id }}/departments/{{ objectiveAssociation.departmentId }}">{{ objectiveAssociation.departmentObjective.department.name }} Department</a></span>
              </li>
            </ul>
          </md-content>
          <md-card-actions layout="row">
            <span flex></span>
            <md-button>Edit</md-button>
			      <md-button>Delete</md-button>
          </md-card-actions>
        </div>
      </div>
    </md-content>
  </div>
</div>
